---
import "../assets/style.css";
import Header from "../components/Header.astro";
const { title = "My-Portfolio"  } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{title}</title>
  </head>
  <body>
  <div class="max-w-3xl lg:max-w-4xl mx-auto px-4 md:px-6">
    <Header title={title} />
    <main>
      <slot />
    </main>
  </div>
</body>
</html>